.group {
  border-bottom: rgb(221, 221, 221) 1px dashed;
  border-radius: 2px;
  display: grid;
  grid-template-columns: max-content 50px;
  grid-template-rows: 80px auto 20px;
  grid-template-areas:
    'group-header-wrapper  group-header-wrapper'
    'group-content-wrapper group-right-control'
    '. 					           .';
  border-radius: 20px;
  width: 98%;
  height: 100%;
  padding: 5px;
  padding-left: 40px;
}

/* 
.group-side-wrapper {
	grid-area: group-side-wrapper;
}
 */

.group-content-wrapper {
  grid-area: group-content-wrapper;

  display: block;
}

.group-content-wrapper-closed {
  display: none;
}

.group-header-wrapper {
  grid-area: group-header-wrapper;
  background-color: white;
}

.group-right-control-wrapper {
  grid-area: group-right-control;
}

.group::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: none;
}

.group::-webkit-scrollbar-track {
  margin: 10px;
  background: none;
}
.group::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(185, 185, 185);
}

.group-scroll-end-gradiant {
  grid-area: group-scroll-end-gradiant;
  position: relative;
  top: 0;
  right: -50;
  width: 50px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255)
  );
  z-index: 5;
}

.task-add-wrapper {
  position: sticky;
}
