.task {
  display: flex;
  height: var(--task-height);
  border: var(--task-title-default-border-color) 2px solid;
  border-radius: 2px;
  margin-bottom: var(--task-margin-bottom);
  position: relative;
}

.task:hover {
  box-shadow: rgb(233, 233, 233) -2px 2px 10px;
  border: rgb(188, 200, 209) 1px solid;
}

.cell-wrapper {
  height: 100%;
  border-right: white 2px solid;
  border-radius: 2px;
  /* border-left: white 2px solid; */
  transition: ease 100ms;
  overflow: hidden;
}

.pseudo-task {
  background-color: rgb(184, 184, 184);
  height: Calc(var(--task-height) + var(--task-margin-bottom));
}

.task-handle {
  height: 100%;
  width: 14px;
  background-color: rgb(43, 101, 148);
  color: white;
  font-size: 24px;
  padding: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  border-right: white 2px solid;
}
