.group-header-wrapper {
	display: flex;
	padding: 1em;
}

.group-header {
	padding: 7px;
	font-size: large;
	font-weight: 700;
	color: rgb(3, 184, 63);
	cursor: pointer;
}

.group-header-right-menu {
	text-align: right;
	color: rgb(100, 79, 52);
	border: rgb(165, 148, 148) 2px solid;
	border-radius: 10px;
	width: 40px;
}
