.tab-header-wrapper {
	display: flex;
}

.tab-header {
	padding: 7px;
	font-size: large;
	font-weight: 700;
	color: rgb(3, 184, 63);
	cursor: pointer;
}

.tab-header-right-menu {
	text-align: right;
	color: burlywood;
	background-color: rgb(211, 211, 211);
	border-radius: 10px;
	width: 40px;
}
