.tab-header-wrapper {
	display: flex;
	padding: 1em;
	border-bottom: rgb(135, 135, 172) 8px solid;
}

.tab-header {
	padding: 7px;
	font-size: large;
	font-weight: 700;
	color: rgb(3, 184, 63);
	cursor: pointer;
}

.tab-header-right-menu {
	text-align: right;
	color: rgb(100, 79, 52);
	border: rgb(165, 148, 148) 2px solid;
	border-radius: 10px;
	width: 40px;
}
