.column-head-wrapper {
	position: relative;
	padding: 14px 12px;
	background-color: white;
}

.column-content-wrapper {
	position: relative;
	z-index: 3;
	transition: ease 100ms;
}

.column-head-item {
	text-align: left;
	color: rgb(105, 105, 105);
	background: none;
	padding: 5px 14px 0 2px;
	width: 95%;
	border: none;
	z-index: 3;
}

.column-head-popup {
	position: absolute;
	top: 0px;
	left: -10px;
	width: calc(100% + 20px);
	height: 20px;
	padding: 0;
	border-radius: 20px 20px 0 0;
	z-index: 4;
	transition: ease 150ms 300ms;
}

.column-head-drag-handle {
	position: absolute;
	right: 15px;
	top: -10px;
	width: 30px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	color: rgb(54, 54, 54);
	box-shadow: rgb(194, 194, 194) 1px 1px 10px;
	border-radius: 10px;
	text-align: center;
	padding: 2px 0;
	cursor: grab;
	transition: ease 200ms;
}

.column-head-setup-btn {
	position: absolute;
	left: 15px;
	top: -10px;
	width: 30px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	color: rgb(54, 54, 54);
	box-shadow: rgb(194, 194, 194) 1px 1px 10px;
	border-radius: 10px;
	text-align: center;
	font-size: larger;
	cursor: pointer;
	/* transition: ease 200ms; */
}

.head-spacer-handle {
	cursor: col-resize;
	transition: ease 100ms;
	background-color: rgb(255, 255, 255);
}

.head-spacer-hover-area {
	position: relative;
	top: -30px;
	right: 20px;
	width: 70px;
	height: 90px;
	z-index: 5;
	opacity: 0;
}

.head-spacer-hover-resize-area {
	position: absolute;
	width: 15px;
	height: 40px;
	z-index: 5;
	transform: translateX(-3px);
	opacity: 0;
}
