.layout {
	display: grid;
	height: 100vh;
	grid-template-columns: 200px auto;
	grid-template-areas: "sidebar-wrapper project-wrapper";
}

.side-bar-wrapper {
	height: 100%;
	grid-area: sidebar-wrapper;
}

.project-wrapper {
	height: 100%;
	grid-area: project-wrapper;
}
