.layout {
	display: grid;
	height: 100vh;
	grid-template-columns: 60px 150px auto;
	grid-template-rows: 100px auto;
	grid-template-areas:
		". project-head		project-head 		project-head"
		". project-side-bar		project-wrapper 	project-wrapper";
}

.project-head {
	height: 100%;
	grid-area: project-head;
	background-color: rgb(171, 224, 255);
}

.project-side-bar {
	grid-area: project-side-bar;
}

.side-bar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.project-wrapper {
	height: 100%;
	padding-top: 50px;
	grid-area: project-wrapper;
}
