.layout {
  /*  display: grid; */
  height: 100vh;
  /* grid-template-columns: 60px 110px 0px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    'project-head 	project-head			  project-head 		  project-head'
    '. 				      .		                project-wrapper 	project-wrapper';
  overflow: hidden; */
  /* grid-template-rows: 10px auto; */
}

.project-head {
  background-color: rgb(172, 186, 214);
}

.side-bar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.project-wrapper {
  height: 100%;
  width: 100%;
}

.welcome-page {
  width: 300px;
  height: 380px;
  position: fixed;
  background-color: orange;
  left: calc(50% - 150px);
  top: calc(50% - 190px);
  z-index: 500;
}
