:root {
	--side-general-bg-color: rgb(243, 243, 243);
	--side-general-border: rgb(179, 179, 179) 1px solid;
}

.side-bar {
	height: 100%;
	/* background-color: rgb(50, 50, 50); */
	/* border-right: rgb(190, 190, 190) 10px solid; */
	position: relative;
	/* box-shadow: inset rgb(60, 60, 60) -4px 0; */
}

.general {
	position: absolute;
	height: 100%;
	width: 80px;
	z-index: 105;
}

.general-top {
	position: absolute;
	height: 150px;
	width: 130px;
	top: 0;
	left: 0;
	background-color: var(--side-general-bg-color);
	/* border-bottom: var(--side-general-border); */
	border-right: var(--side-general-border);
	box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 20px;
	z-index: 1;
}

.general-mid {
	position: absolute;
	height: calc(100% -150px);
	height: 100%;
	width: 130px;
	top: 150px;
	left: 0;
	background-color: var(--side-general-bg-color);
	padding: 630px 0 0 40px;
	/* border-right: var(--side-general-border); */
	z-index: 3;
}

.general-bottom {
	position: absolute;
	padding: 50px 0 0 34px;
	top: 150px;
	left: 130px;
	height: calc(100% - 100px);
	width: 20px;
	border-top: var(--side-general-border);
	border-right: var(--side-general-border);
	border-radius: 0 5px 0 0;
	background-color: var(--side-general-bg-color);
	box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 20px;
	z-index: 2;
}
