:root {
  --side-general-border: rgb(104, 104, 104) 1px solid;
}

.side-bar {
  position: fixed;
  height: 100%;
  width: calc(var(--sidebar-width)+76px);
  z-index: 150;
}

.general {
  position: absolute;
  border-right: var(--side-general-border);
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 20px;
  background-color: var(--sidebar-bg-color);
  height: 100%;
  width: var(--sidebar-width);
  top: 0;
  padding: 10px 0;
  display: grid;
  grid-template-rows: 1fr 12fr 1fr 1fr 1fr;
  gap: 10px;
  z-index: 1000;
}

.project-select-icon-wrapper {
  grid-row: 1/2;
  margin: auto;
}

.user-calendar-icon-wrapper {
  grid-row: 3/4;
  margin: auto;
}

.notifications-icon-wrapper {
  margin: auto;
  grid-row: 4/5;
}

@media only screen and (max-width: 400px) {
  .side-bar {
    height: calc(var(--sidebar-width) + 10px);
    width: 100vw;
  }

  .general {
    border-right: none;
    background-color: yellow;
    border-bottom: var(--side-general-border);
    width: 100%;
    top: 0;
    padding: 10px 0;
    grid-template-columns: 1fr 1fr 12fr 1fr 1fr 1fr;
    grid-template-rows: none;
  }

  .project-select-icon-wrapper {
    grid-column: 1/2;
    grid-row: none;
  }

  .notifications-icon-wrapper {
    grid-column: 5/6;
    grid-row: none;
  }

  .user-calendar-icon-wrapper {
    grid-column: 4/5;
    grid-row: none;
  }
}

/* .general-top {
	position: absolute;
	height: 150px;
	width: 130px;
	top: 0;
	left: 0;
	background-color: var(--side-general-bg-color);
	border-right: var(--side-general-border);
	box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 20px;
	z-index: 1;
}

.general-mid {
	position: absolute;
	height: calc(100% -150px);
	height: 100%;
	width: 130px;
	top: 150px;
	left: 0;
	background-color: var(--side-general-bg-color);
	padding: 630px 0 0 40px;
	z-index: 3;
}

.general-bottom {
	position: absolute;
	padding: 50px 0 0 34px;
	top: 150px;
	left: 130px;
	height: calc(100% - 100px);
	width: 20px;
	border-top: var(--side-general-border);
	border-right: var(--side-general-border);
	border-radius: 0 5px 0 0;
	background-color: var(--side-general-bg-color);
	box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 20px;
	z-index: 2;
}
 */
