.duedate-cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.duedate-input {
  width: calc(80% - 30px);
  border: none;
  text-align: center;
}

.duedate-icon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
