:root {
  --side-project-select-bg-color: rgb(36, 107, 173);
  --side-project-select-inner-bg-color: rgb(156, 185, 212);
  --side-project-select-bg-color-hover: rgb(255, 255, 255);
}

.icon-wrapper {
  width: 50px;
  height: 50px;
}

.project-select {
  position: absolute;
  padding: 105px 0 0 0;
  left: -276px;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: var(--side-project-select-bg-color);
  /* border: rgb(60, 60, 60) 4px solid; */
  border-right: rgb(155, 155, 155) 1px solid;
  transition: ease-in-out 100ms;
  z-index: 100;
}

.project-select-menu {
  position: absolute;
  background-color: var(--side-project-select-inner-bg-color);
  padding: 20px;
  top: 0;
  right: 30px;
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 40px auto;
  gap: 20px 2px;
}

/* 
.project-select::after {
	position: relative;
	top: -90px;
	right: -100px;
	background-color: tomato;
	border-radius: 10px;
	content: "---";
	width: 50px;
	height: 50px;
} */
.current-project-display {
  position: absolute;
  top: 80px;
  right: -64px;
  color: white;
  transform: rotate(90deg);
  font-size: 16px;
  font-family: inherit;
  z-index: 120;
}

.project-select-list {
  grid-column: 1/3;
}

.project-select-btn {
  border: 0;
  width: 100%;
  padding: 8px 30px 8px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: inherit;
  text-align: left;
  background: none;
  color: black;
  z-index: 110;
  outline: none;
}

.project-select-btn:hover {
  background-color: var(--side-project-select-bg-color-hover);
}
