.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4000;
  background-color: rgba(172, 172, 172, 0.644);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.form-wrapper {
  background-color: white;
  width: 400px;
  height: 660px;
  padding: 50px;
  display: grid;
  grid-template-rows: auto 5fr 2fr 1fr;
  gap: 0.3em;
}

.form-wrapper h1 {
  color: rgb(7, 67, 116);
  padding: 0;
  margin: 0;
}

.selected-users-ul {
  width: 100%;
  max-width: 300px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
}

.selected-users-ul li {
  list-style-type: none;
  width: 45px;
  height: 45px;
  min-width: 45px;
}

.selected-users-ul::-webkit-scrollbar,
.user-suggestion-ul::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: none;
}

.selected-users-ul::-webkit-scrollbar-track,
.user-suggestion-ul::-webkit-scrollbar-track {
  margin: 10px;
  background: none;
}
.selected-users-ul::-webkit-scrollbar-thumb,
.user-suggestion-ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(185, 185, 185);
}

.done-btn {
  display: inline-block;
  border: none;
  border: rgb(224, 224, 224) 1px solid;
  padding: 0.6rem 0;
  width: 100%;
  text-decoration: none;
  background: rgb(255, 255, 255);
  color: #353535;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: 250ms ease-in-out, transform 150ms ease;
  box-shadow: #f1f1f1 4px 4px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.done-btn:hover,
.done-btn:focus {
  background: #b5defa;
}

.user-suggestion-ul {
  height: 150px;
  overflow-y: scroll;
  width: 100%;
  margin: 0;
  padding: 0;
}

.user-suggestion-wrapper {
  height: 150px;
}
