.user-li {
	display: flex;
	flex-direction: row;
	justify-content: left;
	padding: 8px 5px;
	border: rgb(245, 245, 245) 1px solid;
	border-top: none;
	height: 50px;
	background-color: white;
	margin: 0;
}

.user-li:hover {
	background-color: rgb(215, 233, 255);
}

.user-li h3 {
	font-size: 1em;
	font-weight: 600;
	padding: 0;
	margin: 0;
}

.user-li h2 {
	font-size: 0.7em;
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.user-icon-wrapper {
	width: 38px;
	height: 38px;
	margin-right: 10px;
}
