.icon-wrapper {
  width: 40px;
  height: 40px;
  background-color: rgb(69, 108, 216);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-img {
  width: 22px;
  height: 22px;
  object-fit: inherit;
}
