.assign-cell {
	height: 100%;
	width: 100%;
	position: relative;
}

.assigned-users-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-left: 25px;
	height: 100%;
	width: 125px;
}

.assigned-users-wrapper::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background: none;
}

.assigned-users-wrapper::-webkit-scrollbar-track {
	margin: 10px;
	background: none;
}
.assigned-users-wrapper::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(185, 185, 185);
}

.user-icon-wrapper {
	margin: 0 0 0 -10px;
	width: 34px;
	min-width: 34px;
	height: 34px;
}

.user-icon-wrapper:hover {
	z-index: 5;
}

.add-assigned-btn {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1em;
	height: 1em;
	top: 15%;
	right: 5px;
	color: grey;
	background-color: rgb(255, 255, 255);
	border: rgb(218, 218, 218) 1px solid;
	border-radius: 20px;
	text-align: center;
	font-size: x-large;
	cursor: pointer;
	outline: none;
}

.add-assigned-btn:hover {
	background-color: rgb(224, 224, 224);
}
