.assign-cell {
	height: 100%;
	width: 100%;
	position: relative;
}

.assigned-users-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 100%;
}

.user-icon-wrapper {
	margin: 0 0 0 4px;
	width: 36px;
	height: 36px;
}

.add-assigned-btn {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1em;
	height: 1em;
	top: 15%;
	right: 5px;
	color: grey;
	background-color: rgb(255, 255, 255);
	border: rgb(218, 218, 218) 1px solid;
	border-radius: 20px;
	text-align: center;
	font-size: x-large;
	cursor: pointer;
	outline: none;
}

.add-assigned-btn:hover {
	background-color: rgb(224, 224, 224);
}
