.user-icon {
	width: 80px;
	height: 80px;
	border: rgb(177, 177, 177) 2px solid;
	box-shadow: inset white 0 0 0 3px;
	border-radius: 100%;
	background-image: url("https://i1.pickpik.com/photos/830/669/108/labrador-head-hell-dog-preview.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
