.tab-right-control {
	height: 100%;
	border: rgb(167, 167, 167) 1px dashed;
	border-radius: 2px;
	background-color: rgb(209, 210, 228);
	display: flex;
	flex-flow: column;
	align-items: center;
	cursor: pointer;
}
.tab-right-control * {
	padding: 0;
	text-align: center;
}
