/* .add-new-project-btn {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  font-size: xx-large;
  text-align: center;
}
 */

:root {
  --create-new-project-menu-position-left-pc: 5%;
  --create-new-project-menu-position-top-pc: 5%;
}

.add-new-project-menu-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(133, 133, 133, 0.082);
}

.add-new-project-menu::after {
  position: inherit;
  top: Calc(var(--create-new-project-menu-position-top-pc) - 5px);
  left: inherit;
  width: inherit;
  height: 5px;
  background-color: var(--create-new-project-theme-color-a);
  content: ' ';
  z-index: 10001;
}

.add-new-project-menu {
  position: fixed;
  left: var(--create-new-project-menu-position-left-pc);
  top: var(--create-new-project-menu-position-top-pc);
  width: 90%;
  height: 90%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 25px;
  z-index: 200;
  border-radius: 0 0 3px 3px;
}

.add-new-project-menu h1 {
  text-align: left;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 25px;
}
.add-new-project-btn-wrapper {
  grid-row: 2/3;
}

/* .type-items-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
} */
